:root {
  /*box-shadow: inset 0 0 0 1000px rgb(58,63,69);*/
  /*background-color: #;*/
  height:100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.ref {
  /* REACH 2021 */

position: absolute;
width: 904px;
height: 343px;
left: 297px;
top: 1471px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 120px;
line-height: 141px;
text-align: center;
letter-spacing: 0.39em;
color: #navy;
}
